html,
body,
p,
h1,
h2,
h3 {
    font-family: 'Roboto';
}

html,
body {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex: 1;
}

#root {
    width: 100%;
    min-height: 100%;
}

.App {
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    min-height: 100%;
}

.App-header {
    height: 100px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-link {
    color: #4e7ee0;
}
